<mat-toolbar color="primary" class="nd-bar">
  The URL SHORTNER!!
</mat-toolbar>
<div class="nd-spacer"></div>
<div class="nd-contents">
  <mat-card class="nd-card">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" required>
        <mat-error align="right">Please provide Valid Url</mat-error>
      </mat-form-field>
      <button class="nd-button" mat-raised-button type="submit" [disabled]="form.invalid"
        (click)="onClick()">Go</button>
    </form>
  </mat-card>
</div>
<div class="nd-response">
  <em>
    <div class="nd-spacer"></div>
    <div *ngIf="loading" class="nd-loader">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="shortUrl">
      <mat-label>Short Url: </mat-label>
      <b> <a href="{{shortUrl}}" target="_blank">{{shortUrl}}</a></b>
    </div>
    <div *ngIf="err">
      <mat-error align="right"><b>{{err}}</b></mat-error>
    </div>
  </em>
</div>